@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");

$prime-color: #755734;
$vice-color: #9e8568;
$accent-color: #fbd779;
$accent-deeper-color: #f9bd23; // f8cb50(manager)
$accent-red-color: #e76845;
$first-color: rgb(52, 58, 64);
$secondary-color: rgb(129, 132, 135);
$third-color: rgb(179, 183, 188);
$forth-color: rgb(193, 199, 204);
$fifth-color: rgb(232, 235, 240); // #e8ebf0
$sixth-color: rgb(249, 250, 252);
$lowfat-color: #8093b5;
$meat-color: #f09797;
$vage-color: #7ca390;

$linear: linear-gradient(90deg, $first-color 40%, $secondary-color);
$linear-h: linear-gradient(90deg, $forth-color, $fifth-color);
$linear-v: linear-gradient(230deg, $forth-color, $accent-color);
$default-trans: all 0.3s ease 0s;
$default-shadow: 0px 0px 15px rgba($forth-color, 0.7); // offset-x | offset-y | blur-radius | color
$shadow-lighter: 0px 0px 15px rgba($fifth-color, 0.7);
$shadow-deeper: 0px 0px 10px rgba($third-color, 0.6);
$shadow-bottom: 0 7px 5px -4px rgba($fifth-color, 1);

@mixin text($weight: 700, $size: 1rem, $color: $prime-color) {
  font-family: sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: none;
  letter-spacing: 0.03em;
}

@mixin stroke-border(
  $color: $vice-color,
  $focus-color: $prime-color,
  $hover-color: $secondary-color
) {
  @include text(normal, 1rem, $color);

  width: fit-content;
  height: fit-content;
  border: $color solid 0.5px;
  background-color: white;
  border-radius: 20px;
  padding: 3px 10px;
  margin: 5px;
  transition: $default-trans;

  &:hover {
    border: $hover-color solid 0.5px;
    color: $hover-color;
  }

  &:focus {
    background-color: $focus-color;
    border: $focus-color solid 0.5px;
    color: white;
  }
}

@mixin solid(
  $color: $vice-color,
  $focus-color: $prime-color,
  $hover-color: $prime-color
) {
  @include text(normal, 1rem, white);

  width: fit-content;
  height: fit-content;
  border: none;
  background-color: $color;
  border-radius: 20px;
  padding: 3px 10px;
  margin: 5px;
  transition: $default-trans;

  &:hover {
    background-color: $hover-color;
  }
}

@mixin default-input(
  $width: 120px,
  $text-color: $prime-color,
  $border-color: $vice-color,
  $holder-color: $vice-color,
  $background: transparent
) {
  @include text(normal, 0.9rem, $text-color);
  width: $width;
  border: $border-color solid 1px;
  border-radius: 12px;
  padding: 0 10px;
  background-color: $background;

  &::placeholder {
    @include text(normal, 0.9rem, $holder-color);
  }
}

@mixin root {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  .form-control:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    outline: 0 none;
  }

  button:focus,
  button[type="button"]:focus,
  a[class="page-link"]:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  button {
    border: none;
    background-color: transparent;
  }

  div,
  li,
  a,
  nav {
    overflow: hidden;
  }

  div#root {
    // 內容有container和footer
    min-height: 100vh;
    display: flex;
    flex-direction: column; // 讓兩者上下排列，另外在container用flex-grow 撐滿高度，使footer置底
  }
}

@mixin ctm-container($padding-x: 350px, $margin-top: 150px) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
  margin-top: $margin-top;
}
