@import "global";

* {
  @include ts-reboot;
  font-size: 16px;

  > div.pages {
    flex-grow: 1; // 在內容高度不夠時 撐高度 讓footer黏在底部
    margin-top: 150px;
    margin-bottom: 50px;
  }

  p,
  span,
  label {
    @include text(normal, 1rem, $prime-color);
  }
}

h1 {
  @include text(400, 2.5rem, $prime-color);
}

h4 {
  @include text(400, 1rem, $prime-color);
  margin-left: 4px;
}

div.spinner-border {
  margin: 10% 45%;
}

p.no-result {
  @include text(bold, 1.5rem, $accent-deeper-color);
  margin: 10% 25%;
}

.ts-header {
  background-color: rgba($color: #ffffff, $alpha: 90%);
  // backdrop-filter: blur(6px); // has minimal browser support

  form {
    padding: 10px 0;
  }

  .logo {
    width: 100px;
  }

  button.search {
    @include text();
    padding: 0 20px;
  }

  input#search {
    @include default-input(170px);
    margin-right: -10px;
  }

  // Nav.Link
  a {
    @include text(bolder, 1rem, $prime-color);
    color: $prime-color !important;
    transition: $default-trans !important;

    &:hover {
      opacity: 0.6 !important;
    }
  }

  svg {
    margin-top: -5px;
  }

  a.ts-icon-feature {
    display: inline-block !important;
    width: fit-content;
  }
}

a#to-top {
  visibility: hidden;
  display: block;
  box-shadow: $shadow-deeper;
  background-color: white;
  position: fixed;
  border-radius: 25px;
  padding: 8px;
  bottom: 25px;
  right: 20px;
  z-index: 900;
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
  .logo {
    width: 80px !important;
  }

  a.ts-icon-feature {
    padding-right: 15px !important;
  }
}

@include media-breakpoint-down(xs) {
  * {
    font-size: 14px;
  }
}
