@import "global";

* {
  @include root;
}

.container {
  flex-grow: 1; // 在內容高度不夠時 撐高度 讓footer黏在底部
}

.ctm-container {
  @include ctm-container();
}

div.spinner-border {
  margin: 10% 45%;
}

p.no-result {
  @include text(bold, 1.5rem, $accent-deeper-color);
  margin: 10% 25%;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  position: fixed; // 固定在上
  top: 0; // 固定在上
  width: 100%; // 固定在上
  background-color: rgba($color: #ffffff, $alpha: 80%);
  z-index: 99999;

  .logo-a {
    margin-right: auto;
  }

  .logo {
    width: 110px !important;
  }

  .nav-ul {
    margin: 0; // 因為bootstrap的預設reboot會導致margin-botton: 1rem，所以這邊先還原

    li {
      /* li原本是block的 */
      display: inline-block;
      transition: $default-trans;
      background-color: rgba($color: #000000, $alpha: 0);

      &:hover {
        opacity: 0.6;
      }

      a,
      button {
        @include text();
        padding: 0 20px;
      }

      a:nth-child(5) {
        padding-right: 0;
      }

      a.icon {
        padding-left: 0;
      }
    }
  }

  input#search {
    @include default-input(170px);
    margin-right: -10px;
  }
}

a#to-top {
  visibility: hidden;
  display: block;
  box-shadow: $default-shadow;
  background-color: white;
  position: fixed;
  border-radius: 25px;
  padding: 8px;
  bottom: 20px;
  right: 20px;
  z-index: 999999;
}
