@import "global";

.customization-cart-adder {
  label,
  div {
    @include text(normal, 1rem, $prime-color);
  }

  > form > div {
    min-height: 200px;
  }

  form {
    width: 100%;

    div.error-msg {
      @include text(bold, 0.8rem, $accent-red-color);
      text-align: center;
      margin: 0 5px;
    }

    div.fee-notification {
      @include text(bold, 0.8rem, $secondary-color);
      margin-bottom: 15px;
    }

    button.reset {
      background-color: white !important;
      color: $prime-color !important;

      &:hover {
        color: $vice-color;
      }
    }

    // TODO: 只有3欄食材的時候，不要預留第四欄的位置
    // V ipad的button 能更好看嗎
    // V lg以上，button的height要小一點？

    button.vip-upgrade {
      background-color: $accent-red-color !important;

      svg {
        margin: -5px 2px 0;
      }
    }

    div.spinner-border {
      margin: 0;
    }
  }

  @include media-breakpoint-only(md) {
    button.reset, button.vip-upgrade, button[type="submit"] {
      max-width: 30% !important;
    }
  }
}
