@import "global";

div.ingredients-block {
  padding-bottom: 20px;

  > div { // each ingredient
    @include text(normal, 0.9rem, $prime-color);
    margin-bottom: 10px;
  }
}

.default-cart-adder {
  background-color: $vice-lighter-color;
  padding: 60px 10%;

  p.category {
    @include text(bold, 1rem, $prime-color);
    padding: 0 2px;
    border-bottom: solid white 6px;
    width: fit-content;
  }

  div.add-cart-btn {
    min-height: 100px;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;

    > div {
      width: 100%;
      text-align: center;
      padding-right: 10px;

      label.price {
        @include text(bold, 1.1rem, $accent-red-color);
        pointer-events: none; // disable hover
        width: fit-content;
      }

      button {
        @include solid($prime-color, $vice-color, $vice-color);
        width: 95%;
        height: 40px;
        font-size: 1rem;

        &:disabled {
          background-color: $third-color; // #c9c5c0
        }
      }
    }
  }
}
