@import "global";

div.cart-item-editor {
  div.modal-content {
    padding-left: 30px;
    background-color: $fifth-color;
    border-radius: 20px;

    p.title {
      @include text(bolder, 1.2rem, $prime-color);
      margin: 10px 0 20px;
    }

    .right {
      float: right;
      margin-top: 30px;

      button.hide {
        @include solid(white, $sixth-color, $sixth-color, 5px 20px);
        color: $prime-color;
      }

      button.submit {
        @include solid($prime-color, $prime-lighter-color, $prime-lighter-color, 5px 20px);

        &:disabled {
          background-color: $secondary-color;
        }
      }

      // button[type="reset"] {
      //   @include solid($vice-color, $vice-lighter-color, $vice-lighter-color, 5px 20px);
      // }
    }
  }
}
