@import "global";

.feature-slot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;

  .icon {
    margin: 20px 0;
  }

  .detail {
    color: $prime-color;
  }
}

.splited-row {
  width: 100px;

  p {
    margin-bottom: 3px;
  }
}

.monthly-special {
  margin: 60px auto;

  .intro {
    margin-top: 40px;
    width: 80%; // declare width + className: mx-auto = center element

    span {
      @include text(700, 1rem, $accent-deeper-color);
      line-height: 3;
    }

    .title {
      width: fit-content;
      border-bottom: 5px solid $accent-color;
      margin-bottom: 30px;
    }

    .ingredients {
      @include text(500, 1rem, $prime-color);
      display: flex;
      margin-left: 2px;
      margin-bottom: 30px;
    }

    .center {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }
  }

  @include media-breakpoint-only(md) {
    .center {
      justify-content: flex-end;
    }
  }

  @include media-breakpoint-only(xs) {
    .intro {
      margin-left: 20% !important;
    }
  }
}

.footer-container-bg {
  background-color: $accent-color;

  .footer {
    @include text(500, 1rem, $prime-color);
    padding: 50px 0;

    .left {
      border-right: solid 1px $prime-color;

      label.title {
        @include text(700, 1rem, $prime-color);
        margin-bottom: 20px;
      }

      .links {
        display: flex;

        .row {
          width: 100%;
        }

        a {
          display: block;
          margin-bottom: 3px;
          color: $prime-color;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .right {
      padding-left: 50px;

      .media-icons {
        width: fit-content;

        a {
          display: inline-block;
          margin-right: 15px;
          margin-bottom: 15px;
        }
      }

      p {
        margin-bottom: 3px;
      }
    }
  }

  @include media-breakpoint-only(xs) {
    .footer {
      text-align: center;

      .left,
      .right {
        display: flex; // center content
        justify-content: center;
        align-items: center;
        flex-direction: column;

        border: none;
        padding-left: 0;
      }

      .media-icons {
        border-top: solid 1px $prime-color;
        // width: fit-content;
        margin-top: 60px;

        a {
          margin: 15px 10px !important;
        }
      }
    }
  }
}
