@import "global";

.favorite {
  @include ctm-container();

  .recipes-wrapper {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    justify-items: center;
  }
}