@import "global";
.home {
  margin: 0 !important;

  .feature {
    padding: 40px 0;

    // arrow
    // .col > .row {
    //   display: flex;
    //   position: relative;
    //   // padding: 0 70px; // 讓4個.feature更水平集中

    //   .arrow {
    //     z-index: -2;
    //     width: 97%;
    //     // margin: 0 -20; // 對應到.col-9 > .row的padding左右20px 這邊為了不讓line變短
    //     position: absolute; // 讓他橫跨在4個col之間
    //     top: 120px; // 絕對位置
    //     left: 20px; // 絕對位置
    //     display: flex; // 讓.lin .point 水平置中
    //     align-items: center; // 讓.lin .point 水平置中
    //     .line {
    //       width: 100%;
    //       height: 2px;
    //       background: linear-gradient(90deg, $accent-color 40%, $vice-color);
    //     }

    //     .point {
    //       width: 0;
    //       height: 0;
    //       border-top: 5px solid transparent;
    //       border-bottom: 5px solid transparent;
    //       border-left: 10px solid $vice-color;
    //     }
    //   }
    // }

    .how-to-buy {
      margin-top: 35px;
      margin-left: 30px;

      a {
        @include text(600, 36px, $prime-color);
        line-height: 1.15;
        transition: $default-trans;

        &:hover {
          color: $accent-deeper-color;
        }
      }
    }
  }
}
