@import "global";

.home {
  margin: 0 !important;

  .banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(
        170deg,
        rgba(253, 247, 238, 0) 35%,
        rgba(255, 255, 255, 0.8) 75%
      ),
      url("../../shared/images/home-banner1.jpg");
    background-position: center;
    position: relative;

    .title {
      position: absolute;
      bottom: 30px;
      right: 60px;
      max-width: 40vw;

      h4 {
        margin-top: 20px;
      }
    }
  }

  .feature {
    margin: 60px auto;
    text-align: center;
  }

  a.how-to-btn {
    @include solid($vice-color, $prime-color, $prime-color, 8px 40px);
    display: inline-block;
    font-size: 1.5rem;
  }

  @include media-breakpoint-down(lg) {
    .banner {
      height: 70vh;
      object-fit: cover;
    }
  }

  @include media-breakpoint-down(sm) {
    .banner {
      .title {
        text-align: center;
        max-width: 90vw;
        right: 5vw;
        left: 5vw;
      }
    }
  }
}
