@import "global";

.login {
  .block {
    box-shadow: $default-shadow;
    position: relative;
    float: right;
    width: 400px;
    height: 350px;
    margin: 100px 0;
    padding: 50px;
    border-radius: 20px;

    .input-row {
      @include text(normal, 1rem, $prime-color);
      display: flex;

      label {
        margin: 0 28px 40px;
      }

      input {
        border: 1px solid $forth-color;
        border-radius: 5px;
        padding: 1px 4px;
      }
      
      .alert {
        @include text(bold, 0.8rem, $accent-red-color);
        height: fit-content;
        margin: 0;
        padding: 5px 3px 0;
      }
    }

    .bottom {
      position: absolute;
      text-align: center;
      bottom: 20px;
      right: 0;
      left: 0;

      button {
        @include solid($prime-color, $vice-color, $vice-color, 8px 100px);
        width: 233px;

        span { color: white}
      }

      p {
        @include text(normal, 1rem, $prime-color);
        margin-top: 10px;

        a {
          color: $accent-red-color;
          font-weight: bold;
        }
      }
    }
  }
}
