@import "global";

.recipe-detail > nav {
  border: none;
  margin: 0 10% 0 12%;

  & > a {
    @include text(bold, 1rem, $prime-color);
    border-radius: 25px 25px 0 0 !important;
  }

  & > a.active {
    color: $prime-color !important;
    border: $vice-lighter-color 1px solid !important;
  }

  & > a:not(.active) {
    color: $vice-color !important;
  }
}

.member-cart-adder {
  background-color: $vice-lighter-color;
  padding: 100px 10% 60px 13%;
  > form > div {
    min-height: 200px;
  }

  p.category {
    @include text(bold, 1rem, $prime-color);
    padding: 0 2px;
    border-bottom: solid white 4px;
    width: fit-content;
  }

  div.ingredients-block {
    > div > label {
      @include text(normal, 0.9rem, $prime-color);
      padding-right: 10px;
    }
  }

  div.button {
    position: relative;
    min-height: 100px;

    > div {
      position: absolute;
      bottom: 0;
      right: 5%;
      max-width: 200px;
      width: 95%;
      text-align: center;

      label.price {
        pointer-events: none; // disable hover
        border-bottom: white 3px solid;
        color: $prime-color;
        width: fit-content;
        margin: 0;
        padding: 4px;
      }

      button[type="submit"] {
        @include solid($prime-color, $vice-color, $vice-color);
        width: 90%;
        height: 37px;

        &:disabled {
          background-color: $secondary-color; // #c9c5c0
        }
      }
    }
  }
}
