@import "global";

div.order-detail {
  div.title {
    margin-bottom: 20px;
    display: flex;

    > div {
      @include text(normal, 2rem, $vice-color);
    }

    button {
      margin-right: 10px;
    }
  }

  .info table {
    width: 100%;
    margin: 60px 0;

    td {
      @include text(normal, 1rem, $prime-color);
      padding-bottom: 20px;
      
      &:first-child {
        font-weight: bold;
      }
      
      &#paySum {
          color: $accent-red-color;
      }
    }

    &.left {
      margin-left: 10%; // more centered visually
      width: 90%;
    }

    &.right td {
      text-align: center;
    }
  }

  
  @include media-breakpoint-up(md) {
    .info table.left {
      border-right: 1px solid $fifth-color;
    }
  }

  @include media-breakpoint-down(sm) {
    .info table {
      text-align: center;
      margin-bottom: 0 !important;      
    }
  }
}
