@import "global";

.recipe {
  @include text(normal, 1rem, $prime-color);
  transition: $default-trans;
  display: block;
  position: relative;
  width: 290px;
  margin: 25px;
  border-radius: 25px;
  padding: 20px;

  &:hover {
    box-shadow: $default-shadow;
    color: $prime-color;
  }

  img {
    width: 250px;
    border-radius: 10px;
  }

  .version {
    position: absolute;
    top: 35px;
    right: 20px;

    &.version-lowfat {
      color: $lowfat-color;
    }

    &.version-meat {
      color: $meat-color;
    }

    &.version-vage {
      color: $vage-color;
    }
  }

  // title
  p {
    font-weight: bolder;
    text-align: left;
    font-size: 1.1rem;
    margin: 10px 0 5px;
    color: $prime-color;
  }

  .info {
    button {
      background-color: transparent;
      border: 0;
      margin-right: 5px;
    }

    .distributed {
      display: flex;
      justify-content: space-between;
    }
  }
}
