@import "global";

.recipes {
  margin: 105px 8% 50px 18% !important;

  div.cus-side-list {
    p {
      @include text(bolder, 1.1rem, $prime-color);
      margin: 10px;
    }

    > div {
      button {
        display: inline-block;

        &.all {
          @include stroke-border(
            $secondary-color,
            $first-color,
            $secondary-color
          );
        }

        &.normal {
          @include stroke-border($vice-color, $vice-color);
        }

        &.lowfat {
          @include stroke-border($lowfat-color, $lowfat-color);
        }

        &.meat {
          @include stroke-border($meat-color, $meat-color);
        }

        &.vage {
          @include stroke-border($vage-color, $vage-color);
        }
      }
    }

    select {
      margin: 0 5px 15px;
      border-radius: 20px;
      color: $vice-color;
      padding: 5px 5px;
      width: 92%;
      border: $vice-color solid 1px;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  div.content {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap; // break a line if items exceeded max width 
    padding-left: 3%;

    ul.pagination {
      margin-left: 25px;
      width: 100vw; // for breaking line
      padding: 20px;
      
      li.page-item {
        box-shadow: $default-shadow;
        border-radius: 8px;
        border: 1px solid $fifth-color;
        margin-right: 10px;
        width: 38px;
        text-align: center;
        
        // maybe a(inactive) or span(active)
        & > * {
          color: $prime-color;
          border: none;
        }

        & > a.page-link#next > span,
        & > a.page-link#prev > span {
          pointer-events: none; // prevent from clicking on the nest elements
        }

        &.active > span {
          background-color: $accent-color;
          border: $accent-color 1px solid;
        }
      }
    }
  }
}
