@import "global";

.recipe {
  @include text(normal, 1rem, $prime-color);
  transition: $default-trans;
  position: relative;
  width: 290px;
  border-radius: 25px;
  padding: 20px;

  &:hover {
    box-shadow: $default-shadow;
    color: $prime-color;
  }

  img {
    width: 250px;
    border-radius: 10px;
    height: 160px;
    object-fit: cover;
  }

  .version {
    position: absolute;
    top: 35px;
    right: 20px;

    &.version-lowfat {
      color: $lowfat-color;
    }

    &.version-meat {
      color: $meat-color;
    }

    &.version-vage {
      color: $vage-color;
    }
  }

  label.title {
    @include text(bold, 1.1rem, $prime-color);
    margin-top: 10px;
  }

  .info {
    button {
      background-color: transparent;
      border: 0;
      margin-right: 5px;
    }

    .info_space-between {
      display: flex;
      justify-content: space-between;
    }
  }
}
