@import "global";

.recipes {
  margin: 80px 0 0 !important;

  div.cus-side-list {
    width: 171px;
    background-color: white;
    box-shadow: $default-shadow;
    padding: 10px 20px 20px;
    border-radius: 20px;
    margin: 40px auto 20px;
    
    .cus-side-list_search {
      display: none;
    }

    p {
      @include text(bolder, 1.1rem, $prime-color);
      margin: 10px;
    }

    > div {
      button {
        display: inline-block;

        &.all {
          @include stroke-border(
            $secondary-color,
            $secondary-color
          );
        }

        &.normal {
          @include stroke-border($vice-color, $vice-color);
        }

        &.lowfat {
          @include stroke-border($lowfat-color, $lowfat-color);
        }

        &.meat {
          @include stroke-border($meat-color, $meat-color);
        }

        &.vage {
          @include stroke-border($vage-color, $vage-color);
        }
      }
    }

    select, input#search-recipes {
      margin: 0 5px 5px;
      border-radius: 20px;
      color: $vice-color;
      padding: 5px 10px;
      border: $vice-color solid 1px;
      font-size: 0.9rem;
      width: 92%;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  div.content {
    width: 1400px;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap; // break a line if items exceeded max width 

    ul.pagination {
      margin-left: 25px;
      width: 100vw; // for breaking line
      padding: 20px;
      
      li.page-item {
        box-shadow: $default-shadow;
        border-radius: 8px;
        border: 1px solid $fifth-color;
        margin-right: 10px;
        width: 38px;
        text-align: center;
        
        // maybe a(inactive) or span(active)
        & > * {
          color: $prime-color;
          border: none;
        }

        & > a.page-link#next > span,
        & > a.page-link#prev > span {
          pointer-events: none; // prevent from clicking on the nest elements
        }

        &.active > span {
          background-color: $accent-color;
          border: $accent-color 1px solid;
        }
      }
    }
  }

  @media screen and (max-width: 1800px) {
    div.content {
      width: 990px;
    }
  }


  @media screen and (max-width: 1300px) {
    div.content {
      width: 660px;
    }
  }

  @include media-breakpoint-down(md) {
    div.content {
      width: 660px;
    }

    div.cus-side-list {
      width: 75% !important;

      div.cus-side-list_search {
        display:block;

      }
      
      select,input#search-recipes {
      width: 70%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    div.content {
      width: 330px;
    }
  }
}
