@import "global";

.cart {
  padding: 150px 0;
  position: relative;

  div.title {
    @include text(normal, 2rem, $vice-color);
    margin-left: 85px;
    margin-bottom: 20px;
  }

  div.bottom {
    @include text(normal, 1rem, $prime-color);
    padding: 0; // cancle .container padding

    // position: fixed/absolute; // is controlled by jquery in app.js
    z-index: 999;
    // bottom: 40px;

    .float {
      width: 98%; // for shadow space
      margin: 10px; // for shadow space
      background-color: rgba(white, 0.9);
      box-shadow: $shadow-deeper;
      padding: 20px;
      border-radius: 20px;
      backdrop-filter: blur(4px); // has minimal browser support
    }

    label.select-all {
      margin: 10px 0 0;

      > label {
        margin: 0;
      }
    }

    .right {
      float: right;

      button[type="submit"] {
        @include solid($prime-color, $prime-color, $vice-color);
        width: 150px;
        margin-left: 40px;
        font-size: 1.2rem;
      }

      span.price {
        font-size: 1.5rem;
        margin-left: 5px;
      }
    }
  }

  .empty-cart {
    text-align: center;

    img {
      width: 250px;
      opacity: 0.7;
    }

    > div {
      @include text(normal, 1.2rem, $secondary-color);
      margin-top: 20px;
    }
  }
}
