@import "global";

.cart {
  margin-top: 100px !important;
  padding: 0 0 150px;
  position: relative;

  div.title {
    @include text(normal, 2rem, $vice-color);
    margin-left: 85px;
    margin-bottom: 20px;
  }

  div.bottom {
    @include text(normal, 1rem, $prime-color);
    padding: 10px;

    // position: fixed/absolute; // is controlled by jquery in app.js
    z-index: 999;
    // bottom: 40px;

    .float {
      width: 100%;
      background-color: rgba(white, 0.9);
      box-shadow: $shadow-deeper;
      padding: 20px;
      border-radius: 20px;
      backdrop-filter: blur(4px); // has minimal browser support

      display: flex;
      flex-wrap: wrap;
    
      div.select-all {
        flex-grow: 2;
        margin-top: 7px;
        
        label {
          font-size: 1rem;
        }
      }

      .total {
        margin-right: 20px;
        
        span {
          font-size: 1.2rem;
          margin-left: 5px;
          line-height: 3rem;
        }
      }

      .order-btn {
        button[type="submit"] {
          @include solid($prime-color, $prime-color, $vice-color);
          width: 150px;
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {

    div.total {
      margin-right: 10px !important;
    }

    div.order-btn {
      width: 100% !important;

      button {
        float: right;
      }
    }
  }
}
