@import "global";
@import "~video-react/styles/scss/video-react";

div.steps {
  margin: 50px 10%;

  > p {
    @include text(bold, 1.2rem, $prime-color);
    border-bottom: solid 5px $accent-color;
    margin-bottom: 20px;
    width: fit-content;
  }

  div.video {
    margin-bottom: 50px;
  }

  tr.step {
    height: 50px;
    .order {
      @include text(bold, 1.5rem, $accent-red-color);
      width: 40px;
    }

    .time {
      width: 95px;
      
      button {
        @include stroke-border($vice-color, $vice-color, $accent-red-color);
      }
    }

    .note {
      @include text(normal, 1rem, $vice-color);
    }
  }
}
