@import "global";

.vip-cart-adder {
  label,
  div {
    @include text(normal, 1rem, $prime-color);
  }

  form {
    width: 100%;

    div.error-msg {
      @include text(bold, 0.8rem, $accent-red-color);
      text-align: center;
      margin: 0 5px;
    }

    div.fee-notification {
      @include text(bold, 0.8rem, $secondary-color);
      margin: 0 11px 30px;
    }

    button.reset {
      @include solid(white, white, white);
      color: $prime-color;
      width: 90%;
      height: 35px;

      &:hover {
        color: $vice-color;
      }
    }

    button.vip-upgrade {
      background-color: $accent-red-color !important;

      svg {
        margin: -5px 2px 0;
      }
    }

    div.spinner-border {
      margin: 0;
    }
  }
}
