@import "../_global";

div.side-list {
  z-index: 888;
  div {
    margin: 10px 0; // 包括top-stroke

    a {
      @include text(normal, 1rem, $prime-color);
    }

    div.top-stroke {
      height: 2px;
      background-color: $accent-color;
    }

    a.selected {
      color: $accent-red-color;
      font-weight: bold;
    }
  }
}
